{{define "title"}}Edit Molt{{end}}

{{define "page"}}
{{ template "shell-top" . }}
    <div id="content-heading" class="border-dark border-bottom p-2">
        <h6 class="m-1"><a href="/molt/view/{{ .Molt.ID }}" class="text-primary mr-2" aria-label="Back">
            <svg width="20" height="20"><use href="/static/img/sprites.svg?version=1704178675#arrow-left"></use></svg>
        </a><strong>Editing your own Molt</strong></h6>
    </div>
    <div class="mini-compose-box border-bottom border-dark px-3 py-2 d-flex flex-row focused">
        <div class="mini-molt-profile-box">
            <a href="/crabs/{{ .CrabName }}">{{ template "avatar" .CrabName }}</a>
        </div>
        <div class="mini-molt-text-box w-100 h-100 px-2">{{ template "edit-form" . }}</div>
    </div>
{{ template "shell-bottom" . }}
{{end}}
