{{define "title"}}Login{{end}}

{{define "page"}}

<!DOCTYPE html>
 <html lang='en'>
    {{ template "header" .}}
    <body class="bg-dark text-light">
    {{ with .Flash }}<div class="alert alert-info m-4 flash" role="status">{{ . }}</div>{{ end }}
    <img class="logo"
     src="/static/img/krabber_logo.svg" alt="Krabber Logo" width="43" height="43">
    <form class="w-75 m-4" method="POST" action="/crab/login" novalidate>
        <h1>Welcome back to the Krabber!</h1>
        <p class="text-muted mb-5">First time? <a href="/crab/signup">Create an account.</a></p>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
         {{range .Form.NonFieldErrors}}
            <div class='error'>{{.}}</div>
         {{end}}
        <div class="form-group cool-input">
            <label for="login-username">E-mail</label>
            <input type="email" name="email" value="{{.Form.Email}}" class="form-control" id="login-username" placeholder="E-mail"  required aria-required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Human or otherwise.</small>
        </div>
        {{with .Form.FieldErrors.password}}
             <label class='error'>{{.}}</label>
        {{end}}
        <div class="form-group cool-input">
            <label for="login-password">Password</label>
            <input type="password" name="password" class="form-control" id="login-password" placeholder="Password"  required aria-required>
        </div>

        <div class="d-flex align-items-center mt-4">
            <button type="submit" class="login-btn btn btn-primary rounded-pill mr-4">
                Let me in!
            </button>
            <a class="inline-block mr-4" href="/crab/forgot">
                Forgot password?
            </a>
            <a class="inline-block" href="/crab/activate">
                Need a new activation email?
            </a>
        </div>
    </form>

    <div class="text-muted text-center my-5" id="cookie-footer">
        <small>Krabber uses one cookie, to keep you signed in. <a href="/privacy">Read the privacy policy.</a></small>
    </div>

    <!-- Spacer -->
    <div class="d-inline-block w-100 my-5 text-muted text-molt text-center"></div>
    </body>
</html>
{{end}}