{{define "title"}}Notifications{{end}}

{{define "page"}}
{{ template "shell-top" . }}
    {{ template "heading" "Notifications" }}
    {{ range .Notifications }}
    {{ if eq .Type "warning" }}
    <div class="d-flex border-bottom border-dark px-3 py-2 kb-notification">
        <div class="kb-notification-icon kb-notification-warning mr-3">
            <svg width="22" height="22"><use href="{{ asset "img/sprites.svg" }}#lifebuoy"></use></svg>
        </div>
        <div class="flex-grow-1 min-w-0">
            <div class="d-flex align-items-center mb-1">
                <strong>A warning from the Krabber moderators</strong>
                <span class="text-muted small ml-auto">{{ template "time" .CreatedAt }}</span>
            </div>
            <div class="kb-bio">{{ .Snippet }}</div>
        </div>
    </div>
    {{ else }}
    <div class="d-flex border-bottom border-dark px-3 py-2 kb-notification">
        <div class="kb-notification-icon kb-notification-{{ .Type }} mr-3">
            {{ if eq .Type "like" }}<svg width="22" height="22"><use href="/static/img/sprites.svg?version=1704178675#heart-f"></use></svg>
            {{ else if eq .Type "remolt" }}<svg width="22" height="22"><use href="/static/img/sprites.svg?version=1704178675#repeat"></use></svg>
            {{ else if eq .Type "reply" }}<svg width="22" height="22"><use href="/static/img/sprites.svg?version=1704178675#message-f"></use></svg>
            {{ else }}<svg width="22" height="22"><use href="{{ asset "img/sprites.svg" }}#crab"></use></svg>{{ end }}
        </div>
        <div class="flex-grow-1 min-w-0">
            <div class="d-flex align-items-center mb-1">
                <a href="/crabs/{{ .Actor }}" class="mr-2">{{ template "avatar" .Actor }}</a>
                <span class="text-muted small ml-auto">{{ template "time" .CreatedAt }}</span>
            </div>
            <div>
                <a href="/crabs/{{ .Actor }}" class="text-light font-weight-bold">@{{ .Actor }}</a>
                {{ if eq .Type "like" }}liked your molt
                {{ else if eq .Type "remolt" }}remolted your molt
                {{ else if eq .Type "reply" }}replied to your molt
                {{ else }}followed you{{ end }}
            </div>
            {{ if .MoltID }}
            <a class="d-block text-muted mt-1 kb-notification-snippet" href="/molt/view/{{ .MoltID }}">{{ .Snippet }}</a>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ else }}
    <div class="p-4 text-center text-muted">Nothing yet. When crabs like, remolt or reply to your molts, or follow you, it shows up here.</div>
    {{ end }}
{{ template "shell-bottom" . }}
{{end}}
