{{define "subject"}}Reset your Krabber password{{end}}

{{define "plainBody"}}
Hi {{.UserName}},

Someone (hopefully you) asked to reset your Krabber password. Choose a new one here:

{{.ResetURL}}

Or go to {{.ResetPage}} and paste this token:

{{.Token}}

The token works once and expires in 1 hour. If you didn't ask for this, ignore this email; your password hasn't changed.

The Krabber team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <p>Hi {{.UserName}},</p>
    <p>Someone (hopefully you) asked to reset your Krabber password. <a href="{{.ResetURL}}">Choose a new one</a>.</p>
    <p>Or go to <a href="{{.ResetPage}}">{{.ResetPage}}</a> and paste this token:</p>
    <pre><code>{{.Token}}</code></pre>
    <p>The token works once and expires in 1 hour. If you didn't ask for this, ignore this email; your password hasn't changed.</p>
    <p>The Krabber team</p>
</body>
</html>
{{end}}
