{{ define "header" }}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="htmx-config" content='{"allowEval":false,"allowScriptTags":false,"includeIndicatorStyles":false,"selfRequestsOnly":true}'>
    <title>{{ template "title" . }} · Krabber</title>
    <link rel='icon' href='{{ asset "img/favicon.svg" }}' type='image/svg+xml'>
    <link rel="stylesheet" href="{{ asset "css/bootstrap.min.css" }}" />
    <link rel="stylesheet" href="{{ asset "css/style.css" }}" />
    <link rel="stylesheet" href="{{ asset "css/color_overrides.css" }}">
    <link rel="stylesheet" href="{{ asset "css/app.css" }}">
    <script src="{{ asset "js/htmx.min.js" }}" defer></script>
    <script src="{{ asset "js/app.js" }}" defer></script>
</head>
{{ end }}
